@import "tailwindcss";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1f5f9;
}

.font-university {
  font-family: "ZapfHumnst BT", "Zapf Humanist BT", "Humanist 521", Optima, Verdana, sans-serif;
}
